.box {
	border: 2px black solid;
}
.displayNone {
	display: none;
}

#dangerHeader, .nav-wrapper{
	margin:0;
	padding:0;
	background-color: #f30303;
	opacity: .7;
}
	img{
		height: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
	h2{
		margin-top: 0;
		margin-bottom: 0;
	}

#mainBody, .container{
	width: 90%;
	margin-top: 20px;
}
	#leftSide{

	}
		#grabAddress{
			height: 80px;
			padding-top: 10px;
			background-color: black;
			color: white;
			opacity: .8;
		}
				#addressDiv{
					margin-top: 10px;
				}
				#submitButton{
					margin-top: 12px;
					margin-left: 30px;
				}

		#googleMap{
			height: 400px;
		}
		iframe {
			height: 100%;
			width: 100%
		}

	#rightSide{

	}
		th{
			font-weight: bold;
		}
		#health-panel{
			padding-left:10px;
			padding-right: 10px;
			opacity: .95;
			padding-bottom: 5px;
		}
			#health-panel p{
				font-size: 20px;
				font-weight: medium;
			}		
			#diseaseSelect{
				margin-top: 20px;
				margin-left:40px;
				width: 400px;
				color: black;
				background-color: grey;
			}

		#stats-panel{
			padding-left:10px;
			padding-right: 10px;
			opacity: .95;			
		}
			#stats-panel p{
				font-size: 20px;
				font-weight: medium;
			}
			#countryStatistics{

			}