.box {
	border: 2px black solid;
}
.displayNone {
	display: none;
}

#dangerHeader, .nav-wrapper{
	margin:0;
	padding:0;
	background-color: #f30303;
	opacity: .7;
}
	img{
		height: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
	h2{
		margin-top: 0;
		margin-bottom: 0;
	}

#mainBody, .container{
	width: 90%;
	margin-top: 20px;
}
		#grabAddress{
			height: 80px;
			padding-top: 10px;
			background-color: black;
			color: white;
			opacity: .8;
		}
				#addressDiv{
					margin-top: 10px;
				}
				.buttonDiv{
					padding:0;
					margin: 0;
					width: 118px;
					height: 50px;
				}
				#submitButton{
					margin-top: 12px;
					margin-left: 0;
				}

		#googleMap{
			position: relative;
			top:-10px;
			height: 430px;
		}
		iframe {
			height: 100%;
			width: 100%
		}

		th{
			font-weight: bold;
		}
		#ajaxs{
			position: relative;
			top: -60px;
		}
		#diseaseSelect{
			height: 40px;
			margin-top: 10px;
			margin-bottom: 15px;
			margin-left: 90px;
			width: 400px;
			color: white;
			background-color: black;
			opacity: .8;
		}

		#stats-panel{
			margin-top: 0px;
			margin-top: 10px;
			margin-left: 100px;
			margin-bottom: 0px;
			padding-top: 10px;
			padding-left:10px;
			padding-right: 10px;
			opacity: .95;
			height: 260px;
			width: 400px;		
		}
			#stats-panel p{
				font-size: 15px;
				font-weight: medium;
				text-align: center;
			}
			#myChart{
				margin-top: 10px;
			}
		#news-panel{
			margin-top: 0;
			padding-top: 10px;
			margin-left: 50px;
			opacity: .95;
			height: 190px;
			width: 500px;
		}
			#news-panel p{
				font-size: 15px;
				font-weight: medium;
				text-align: center;			
			}
